body{
    background-color:rgb(240, 253, 255);
}
.Oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
  text-align: center;
}
#dates{
    position: relative;
    top: 60px;
    background-color:rgb(240, 248, 255);
    padding-left: 5%;
    padding-right:5% ;
    padding-top: 3%;
    padding-bottom: 3%;
}
#for_style{
    font-family: "Oswald",serif;
    font-weight: 500;
    color: rgb(0, 116, 116);
}
#reset ,#submit{
    font-family: "Oswald",serif;
    background-color: white;
    border : 2px solid rgb(214, 207, 207);
}
#reset:hover,#submit:hover{
    background-color: tomato;
    color :white;
}
.output_style{
    position:relative;
    top : 85px;
    width: 85%;
    height:44%;
    background-color:rgb(240, 248, 255) ;
    border-radius: 20px;
    /*text-align: center;*/
    font-family: serif;
    visibility: hidden;
}
#ans{
    padding-left: 50px;
    padding-top: 24px;
}
@media(min-width :900px){
    .Oswald{
        font-size: xx-large;
    }
#inner{
    width: 60%;
    height: 500px;
    background-color: rgb(22, 70, 89);
    border: 2px solid rgb(252, 246, 246);
    border-radius: 20px;
    place-items: center;
    position: fixed;
    right: 20%;
    top: 15%;
}
#dates{
    top : 60px;
    font-size:larger;
    border: 2px solid rgb(219, 217, 217);
    border-radius: 20px;
}
#start_date , #end_date{
    width: 150px;
    height: 25px;
    border: 2px solid rgb(214, 207, 207);
    border-radius: 7px;
}
#for_style {
    display: flex;
    gap: 25px;
    font-weight:500;
    font-size:large;
}
#but_style{
    margin-top: 25px;
    padding-left: 90px;
    display:flex;
    gap: 30px;
}
#reset ,#submit{
    width: 160px;
    height: 27px;
    border-radius: 7px;
    font-size: 15px;
}
}
@media(max-width : 900px){
    #inner{
        width: 90%;
        height: 700px;
        background-color: rgb(22, 70, 89);
        border: 1px solid rgb(252, 246, 246);
        border-radius: 15px;
        place-items: center;
        position: fixed;
        right: 5%;
        top: 10%;
    }
    #reset,#submit{
        width:100px;
        height: 25px;
        border-radius :5px;
        font-size: 14px;
    }
    #but_style{
        margin-top:25px;
        display: flex;
        gap: 30px;
        margin-left:10px;
    }
    #dates{
        border: 2px solid rgb(219, 217, 217);
        border-radius: 12px;
    }
    #start_date,#end_date{
        width: 140px;
        height: 20px;
        border: 2px solid rgb(214, 207, 207);
        border-radius: 5px;
        margin-top: 5px;
    }
    #for_style{
       display:grid;
        gap :5px;
    }

}